* {
    margin: 0;
    /* colors */
    --title-color: rgb(77, 16, 16);
    --btn-color: rgb(205, 195, 160);
    --higlight: rgb(216, 210, 191);
    /* fonts */
    --font: 'Aboreto', cursive;
}

.cta_container {
    display: flex;
    flex-direction: column;
    background-image: url("../images/home_banner.jpg");
    background-size: cover;
    padding: 120px;
    border-bottom: 1px solid var(--title-color);
}

.cta_items {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta_title {
    font-size: 72px;
    color: var(--title-color);
    font-family: var(--font);
}

a{
    align-self: center;
}

.cta_btn {
    padding: 8px 48px;
    font-size: 16px;
    font-family: var(--font);
    background-color: var(--btn-color);
    color: var(--title-color);
    border: none;
    border-radius: 16px;
    transition: background-color 0.25s ease-in;
}

.cta_btn:hover {
    color: var(--btn-color);
    background-color: var(--title-color);
    cursor: pointer;
}