* {
    margin: 0;
}

.cta_container {
    display: flex;
    flex-direction: column;
    background-image: url("../images/home_banner.jpg");
    background-size: cover;
    padding: 120px;
    border-bottom: 1px solid var(--red);
}

.cta_items {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta_title {
    font-size: 72px;
    color: var(--red);
    font-family: var(--font);
}

a{
    align-self: center;
}

.cta_btn {
    padding: 8px 48px;
    font-size: 16px;
    font-family: var(--font);
    background-color: var(--yellow);
    color: var(--red);
    border: none;
    border-radius: 16px;
    transition: background-color 0.25s ease-in;
}

.cta_btn:hover {
    color: var(--yellow);
    background-color: var(--red);
    cursor: pointer;
}