.contact_container {
    background-color: var(--yellow);
    color: var(--red);
    font-family: var(--font);
    padding: 100px;
}

.map_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.map_container > h1 {
    letter-spacing: 1px;
}

iframe{
    width: 600px;
    height: 300px;
    border-radius: 24px;
    border: 3px solid var(--red);
}

.continfo_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 32px;
    letter-spacing: 1px;
}

.social_container {
    display: flex;
    width: 200px;
    justify-content: space-between;
    background-color: var(--red);
    margin: 32px;
    padding: 16px;
    border-radius: 24px;
}

@media (max-width: 500px) {
    .contact_container{
        padding: 40px 40px 200px;
    }

    iframe{
        width: 300px;
        height: 150px;
    }

    .continfo_container {
        font-size: 12px;
        margin: 32px 8px;
    }

    .social_container {
        margin: 48px 32px;
    }
}