.contact_container {
    background-color: var(--yellow);
    color: var(--red);
    font-family: var(--font);
    padding: 100px;
}

.map_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.map_container > h1 {
    letter-spacing: 1px;
}

iframe{
    width: 600px;
    height: 300px;
    border-radius: 24px;
    border: 3px solid var(--red);
}

.continfo_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 32px;
    letter-spacing: 1px;
}

.social_container {
    display: flex;
    width: 200px;
    justify-content: space-between;
    background-color: var(--red);
    margin: 32px;
    padding: 16px;
    border-radius: 24px;
}