@import url('https://css.gg/facebook.css');
@import url('https://css.gg/instagram.css');
@import url('https://css.gg/twitter.css');

.footer {
    background-color: var(--red);
    color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-family: var(--font);
}

.contact_section {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding-right: 48px;
}

.gg-facebook:hover,
.gg-instagram:hover,
.gg-twitter:hover {
    cursor: pointer;
    transform: scale(1.1);
}