* {
    margin: 0;
    /* shadow */
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info_container {
    display: flex;
    justify-content: space-around;
    padding: 8% 0;
    background-color: var(--yellow);
}

.info_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info_image {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.info_desc {
    align-self: center;
    font-family: var(--font);
    color: var(--red);
    font-size: 18px;
}

